


<h1 class="btn-success" style="text-align: center;">Exercise Tracker <span class="badge bd-primary"></span> </h1>
<h1 class="btn-primary" style="text-align: center;" > Total Exercises: {{getTotalNumExercises()}}</h1>

<div id="table">
  <table class="table table-striped table-hover" *ngIf="!selected">
    <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Repetitions</th>
          <th>Delete</th>
         </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises" (click)="displayExercise(exercise)">

        <td>{{exercise.id}}</td>
        <td>{{exercise.name}}</td>
        <td>{{exercise.distance}}</td>
        <td>{{exercise.duration}}</td>
        <td>{{exercise.repetitions}}</td>
        <td><button class="btn btn-danger"(click)="deleteExercise(exercise.id)">X</button></td>


      </tr>
    </tbody>
  </table>

  <form id="addExerciseForm" *ngIf="!selected">
    <label for="Exercise Name">Name: </label><br>
    <input class="form-control" type="text" name="name" placeholder="Exercise Name" [(ngModel)]="newExercise.name" /><br /><br />
    <label for="Exercise Distance">Distance: </label><br />
    <input class="form-control" type="text" name="distance" placeholder="Exercise Distance" [(ngModel)]="newExercise.distance" /><br /><br />
    <label for="Exercise Name">Duration: </label><br />
    <input class="form-control" type="text" name="duration" placeholder="Exercise Duration" [(ngModel)]="newExercise.duration" /><br /><br />
    <label for="Exercise Name">Duration: </label><br />
    <input class="form-control" type="text" name="repetitions" placeholder="Exercise Repetitions" [(ngModel)]="newExercise.repetitions" /><br /><br />

    <button class="btn btn-success" (click)="addExercise(newExercise)">Add New Exercise</button>

  </form>

  <div id="detailView" *ngIf="selected && !editExercise">
    <p>{{selected.id}}</p>
    <p>{{selected.name}}</p>
    <p>{{selected.distance}}</p>
    <p>{{selected.duration}}</p>
    <p>{{selected.repetitions}}</p>

    <button class="btn btn-success" (click)="displayTable()">Back</button>
    <button class="btn btn-primary" (click)="setEditExercise()">Edit</button>
  </div>

  <form class="form-control" id="editExerciseForm" *ngIf="editExercise">
    <h3>Edit Exercise</h3>
    <label for="Exercise Name">Name: </label><br>
    <input type="text" name="exercise" placeholder="Exercise" [(ngModel)]="editExercise.name" /><br /><br />
    <label for="Exercise Distance">Distance: </label><br />
    <input type="text" name="description" placeholder="Distance" [(ngModel)]="editExercise.distance" /><br /><br />
    <label for="Exercise Name">Duration: </label><br />
    <input type="text" name="description" placeholder="Distance" [(ngModel)]="editExercise.duration" /><br /><br />
    <label for="Exercise Name">Repetitions: </label><br />
    <input type="text" name="description" placeholder="Distance" [(ngModel)]="editExercise.repetitions" /><br /><br />

    <button class="btn btn-success" (click)="updateExercise(editExercise)">Save</button>
    <button class="btn btn-primary" (click)="editExercise= null">Cancel</button>

  </form>

</div>

